/* Generic Styles */

* { box-sizing: border-box;
}

a{ color: inherit; text-decoration: none;}

html{
  margin: 0;
  display: block;
  font-family: $font-serif;
  font-size: 12px;

  /* Gorgeous type Sharpness on osx */
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body{
  font-size: 13px;
  font-family: Arial, Verdana, Georgia, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  border: 0;
}

em{
  font-style: inherit;
  font-weight: bold;
}

a {
  color: blue;
  text-decoration: underline;
  font-weight: bold;

}

a:hover {
  text-decoration: none;
  color: red;
}


.hide{
  display: none;
}

#bouton-retour {
  position: absolute;
  z-index: 999;
  top: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  @include mq($for-tablet-landscape-up){
    position: fixed;
    cursor: pointer;
    z-index: 999;
    top: 20px;
    right: 15%;
    width: unset;
    margin: unset;
    text-align: unset;
  }

  a{
    margin: 0 auto;

    @include mq($for-tablet-landscape-up){
      margin: unset;
    }

    img{
      width: 50px;
    }
  }


}


.legende {
  font-family: "Georgia", serif;
  font-size: 1em;
  line-height: 1.3em !important;
  text-align: left;
}

.legende-galerie {
  font-family: "Georgia", serif;
  font-size: 1em;
  line-height: 1.3em !important;
  text-align: left;

}

.lien-galerie {
  position: fixed;
  background: url('http://www.gerardparisclavel.fr/bnf/elements/F-droite.png') no-repeat 0 0;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 23px;
}

.temp-image {
  background-color: gray;
  margin: 0 10px;
  float: left;
  width: 100px;
  height: 100px;
}

.titre {
  font-size: 1.5em;
  font-weight: bold;
  font-family: sans-serif;

}

.visible {
  display: block;
}

.W {/*
  max-height: 100%;
  width: auto;
  max-width: 100%;
  top: 50%;
  position: relative;
  @include transform(translateY(-50%));*/
}