.page-template-special-template-image{
  position: relative;

  #content {
    position: relative;
    padding-top: 150px;

    @include mq($for-tablet-landscape-up){
      padding-top: 0;
      //height: 100vh;
      overflow: hidden;
    }

    @include mq($for-big-desktop-up){

    }
  }

  .image {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 300px;

    @include mq($for-desktop-up){
      max-width: 600px;
    }

    @include mq($for-desktop-up){
      max-width: unset;
      position: relative;
      right: 0;
      display: block;
      text-align: center;
    }

    img{
      max-width: 100%;
      //max-height: 100%;

      @include mq($for-desktop-up){
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));
        width: 600px;
      }

      @include mq($for-desktop-up){
        width: 600px;
        margin-left: 15%;
      }

      @include mq($for-1500-up){
        width: 800px;
        margin-left: unset;
      }

      @include mq($for-big-desktop-up){
        width: 900px;
      }

    }
  }

  .description{
    width: 100%;
    position: relative;
    margin-bottom: 5em;

    @include mq($for-desktop-up){
      width: 250px;
      margin-left: 5%;
      top: 50%;
      display: block;
      position: absolute;
      @include transform(translateY(-50%));
    }

    p{
      text-align: left;
      width: 300px;
      display: block;
      margin: 0 auto;
      font-family: "Georgia", serif;
      color: #000;
      font-size: 1em;
      line-height: 1.3em !important;

      @include mq($for-tablet-landscape-up){
        overflow-y: auto;
      }
    }

    .titre{
      display: block;
      width: 300px;
      margin: 0 auto;
      vertical-align: top;


      @include mq($for-desktop-up){
        vertical-align: middle;
        display: inline-block;
        position: relative;
        top: 50%;
      }
    }
  }
}